USE [BlogAppDB]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 7/30/2024 2:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/30/2024 2:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BlogId] [uniqueidentifier] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCredentials]    Script Date: 7/30/2024 2:57:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCredentials](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[DateOfCreation] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Blogs] ([BlogId], [UserName], [UserId], [Image], [Title], [Description], [ImageData]) VALUES (N'24297310-b6d1-4bf0-abab-08b007781b6b', N'Diana Ross', N'c9d747ce-9385-479a-ad15-f7b6d2c9079c', N'https://picsum.photos/500/500', N'Health and Wellness Tips', N'A collection of tips and tricks for leading a healthier lifestyle.', NULL)
INSERT [dbo].[Blogs] ([BlogId], [UserName], [UserId], [Image], [Title], [Description], [ImageData]) VALUES (N'ff83b767-515b-4139-be5f-14d95dc3ed31', N'Charlie Brown', N'93b6b7f6-81c2-4e1e-b5ea-f8d81043ce5f', N'https://picsum.photos/500/500', N'The Impact of Climate Change', N'Discussing the effects of climate change and what can be done to mitigate it.', NULL)
GO
INSERT [dbo].[Comments] ([CommentId], [UserId], [BlogId], [CommentText], [UserName]) VALUES (N'9d8cd9ab-76d1-4769-87c4-02697bbf0353', N'244d3e21-1b79-4e81-973f-dee71154d0f0', N'b1b3482e-2691-4769-9dd5-fb424c329c0c', N'Well written, thanks for the insights!', N'Grace Lee')
INSERT [dbo].[Comments] ([CommentId], [UserId], [BlogId], [CommentText], [UserName]) VALUES (N'0d5c4b53-bba7-4752-87a2-0676db87823c', N'c28b1557-1dcc-4154-90a4-82b3482413a6', N'24297310-b6d1-4bf0-abab-08b007781b6b', N'This was a good read, thanks!', N'Alice Smith')
INSERT [dbo].[Comments] ([CommentId], [UserId], [BlogId], [CommentText], [UserName]) VALUES (N'a105208b-09cb-45bd-a3ec-07174085497f', N'748efee9-3b35-405f-8e3d-a3d9e2372df9', N'ff83b767-515b-4139-be5f-14d95dc3ed31', N'test3', N'demo2')
GO
INSERT [dbo].[UserCredentials] ([UserId], [UserName], [Email], [Password], [DateOfCreation]) VALUES (N'90d1cadb-b915-4e18-8c1a-3370140694c9', N'Bob Johnson', N'bob.johnson@example.com', N'hashed_password_2', CAST(N'2024-07-25T14:50:11.4400000' AS DateTime2))
INSERT [dbo].[UserCredentials] ([UserId], [UserName], [Email], [Password], [DateOfCreation]) VALUES (N'c28b1557-1dcc-4154-90a4-82b3482413a6', N'Alice Smith', N'alice.smith@example.com', N'hashed_password_1', CAST(N'2024-07-25T14:50:11.4400000' AS DateTime2))
INSERT [dbo].[UserCredentials] ([UserId], [UserName], [Email], [Password], [DateOfCreation]) VALUES (N'748efee9-3b35-405f-8e3d-a3d9e2372df9', N'demo2', N'demo2@demo.com', N'z4NbDrGibEjFaLMQO7naGw==.KyuvDBINEp5bDGlox4ZlaP51wmxgzuTNM9xQckgZ+KI=', CAST(N'2024-07-25T14:36:56.0032392' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserCred__A9D105344062CA54]    Script Date: 7/30/2024 2:57:57 PM ******/
ALTER TABLE [dbo].[UserCredentials] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (newid()) FOR [BlogId]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (newid()) FOR [CommentId]
GO
ALTER TABLE [dbo].[UserCredentials] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[UserCredentials] ADD  DEFAULT (getdate()) FOR [DateOfCreation]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserCredentials] ([UserId])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_User]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Comments] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Blog_Comments]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_User_Comments] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserCredentials] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_User_Comments]
GO
