<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
	<!-- Product definitions -->
	<?if $(var.Platform)=x64 ?>
	<?define ProductCode = "{C0142CC8-30B4-4857-A6E9-69665A824A16}" ?>
	<?else?>
	<?define ProductCode = "{DF0D52AC-EC30-4D7E-B7D5-5BF3B27DFE49}" ?>
	<?endif?>

	<!-- Fixed upgrade Id -->
	<?define UpgradeCode = "{ADFB0528-7881-4D78-93CC-18F5A5FBD4F0}" ?>

	<Package Name="!(loc.ProductName_$(var.Platform))" Language="!(loc.Language)" Version="$(var.BuildVersion)" Manufacturer="!(loc.Company)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="200" ProductCode="$(var.ProductCode)">

		<SummaryInformation Manufacturer="!(loc.Company)" Description="!(loc.Description)" Keywords="!(loc.Keywords)" />
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate EmbedCab="yes" /><!-- Include .cab file into .msi file -->

		<!-- Define main app icon -->
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\Assets\app.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://www.your_website_name.com" /><!-- Help/Support website (shows in the Add/Remove programs). -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Visit site at : " />

		<!-- Properties to set in appsettings -->
		<Property Id="CONNECTIONSTRING" Value="Server=Example;Database=ExampleDB;Integrated Security=True;TrustServerCertificate=True;" Secure="yes" >
			<RegistrySearch Id="SearchConnectionString" Root="HKLM" Key="SOFTWARE\MyBlogs" Name="ConnectionString" Type="raw" Bitness="always64" />
		</Property>
		<Property Id="DBNAME" Value="UNKNOWN" Secure="yes">
			<RegistrySearch Id="SearchDBName" Root="HKLM" Key="SOFTWARE\!(loc.ProductName)" Name="DBName" Type="raw" Bitness="always64"/>
		</Property>
		
		<Property Id="ENCODEDCONNECTIONSTRING" Value="Server=Example;Database=ExampleDB;Integrated Security=True;TrustServerCertificate=True;" />
		<Property Id="CERTPATH" Value="C:\path\to\Certificate.pfx" />
		<Property Id="CERTPASSWORD" Value="password" />
		<Property Id="HTTPPORT" Value="80" />
		<Property Id="HTTPSPORT" Value="443" />
		<Property Id="VALIDATIONRESULT" Value="Unknown" />
		<Property Id="INSTALLDIR" Value="C:\Program Files\!(loc.ProductNameFolder)" />
		<Property Id="SQLSCRIPTPATH" Value="C:\Program Files\MyBlogs\SqlScript\SQL_Script.sql" />
		<Property Id="ENABLEHTTPS" Value="1" />
		<Property Id="HOSTNAME" Value="example.io" />
		<Property Id="VALIDATIONRESULT2" Value="0" />

		<!-- UI to show -->
		<UIRef Id="CustomDlg_InstallDir" />

		<!-- UI Assests-->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />

		<!-- Components to Add-->
		<Feature Id="ProductFeature" Title="MyBlogs_SetUp" Level="1">
			<ComponentGroupRef Id="PublishedComponents" />
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="RegistryComponentGroup" />
		</Feature>
		

		<!-- Define the binary for the custom action DLL -->
		<Binary Id="CheckPortConn" SourceFile="$(var.CheckPortAndConnection.TargetDir)$(var.CheckPortAndConnection.TargetName).CA.dll" />
		<Binary Id="CheckHttpsPortFile" SourceFile="$(var.CheckHttpsPortAndFile.TargetDir)$(var.CheckHttpsPortAndFile.TargetName).CA.dll" />
		<Binary Id="ExecuteSQLScript" SourceFile="$(var.ExecuteSQLScript.TargetDir)$(var.ExecuteSQLScript.TargetName).CA.dll" />
		<Binary Id="UpdateAppSettingsJson" SourceFile="$(var.UpdateAppSettings.TargetDir)$(var.UpdateAppSettings.TargetName).CA.dll" />
		<Binary Id="DeleteDB" SourceFile="$(var.DeleteDB.TargetDir)$(var.DeleteDB.TargetName).CA.dll" />

		<!-- Define Custom Actions -->
		<!-- Before Installation -->
		<CustomAction Id="PrintLicense" ExeCommand="" Property="ValidatePortAndConnection" Execute="immediate" Return="check" />
		<CustomAction Id="CheckPortSQLConnection" BinaryRef="CheckPortConn" DllEntry="ValidatePortAndConnection" Execute="immediate" />
		<CustomAction Id="CheckHttpsPortCertLoc" BinaryRef="CheckHttpsPortFile" DllEntry="CheckHttpsPort_CertFile" Execute="immediate" />
		
		<!-- On Uninstall And RollBack -->
		<CustomAction Id="DeleteDatabaseAction" BinaryRef="DeleteDB" DllEntry="DeleteDatabase" Execute="immediate"/>
		
		<!-- After Installation -->
		<CustomAction Id="SetCustomActionData" Property="UpdateAppSettings"
              Value="INSTALLDIR=[INSTALLFOLDER];HTTPPORT=[HTTPPORT];HTTPSPORT=[HTTPSPORT];CONNECTIONSTRING=[ENCODEDCONNECTIONSTRING];CERTPATH=[CERTPATH];CERTPASSWORD=[CERTPASSWORD];HOSTNAME=[HOSTNAME];ENABLEHTTPS=[ENABLEHTTPS];SQLSCRIPTPATH=[SQLSCRIPTPATH];" />
		
		<CustomAction Id="SetDataForSqlScrript" Property="ExecuteSQLScript"
              Value="CONNECTIONSTRING=[ENCODEDCONNECTIONSTRING];SQLSCRIPTPATH=[SQLSCRIPTPATH];" />
		<CustomAction Id="UpdateAppSettings" BinaryRef="UpdateAppSettingsJson" DllEntry="UpdateAppSettings" Execute="deferred" Impersonate="no"/>
		<CustomAction Id="ExecuteSQLScript" BinaryRef="ExecuteSQLScript" DllEntry="ExecuteSQLScript" Execute="deferred" />
		<CustomAction Id="EXECUTE_AFTER_FINALIZE"
              Execute="immediate"
              Impersonate="no"
              Return="asyncNoWait"
              FileRef="MyBlogs.exe"
              ExeCommand="" />


		<!-- Custom Action Sequence -->
		<InstallExecuteSequence>
			<Custom Action="CheckPortSQLConnection" Before="InstallInitialize" Condition="NOT Installed" />
			<Custom Action="CheckHttpsPortCertLoc" Before="InstallInitialize" Condition="NOT Installed" />
			<Custom Action="SetDataForSqlScrript" Before="ExecuteSQLScript" Condition="NOT Installed" />
			<Custom Action="ExecuteSQLScript" After="InstallFiles" Condition="NOT Installed" />
			<Custom Action="SetCustomActionData" Before="UpdateAppSettings" Condition="NOT Installed" />
			<Custom Action="UpdateAppSettings" After="InstallFiles" Condition="NOT Installed" />
			<Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize" Condition="NOT Installed" />

			<Custom Action="DeleteDatabaseAction" Before="RemoveFiles" Condition="REMOVE"/>
		</InstallExecuteSequence>
		
	</Package>

	<Fragment>
		<ComponentGroup Id="RegistryComponentGroup">
			<Component Id="RegistryEntries" Guid="{281C050D-958F-4728-B8D4-EE6FD490E02B}">
				<RegistryKey Root="HKLM" Key="SOFTWARE\!(loc.ProductName)">
					<RegistryValue Name="ConnectionString" Type="string" Value="[CONNECTIONSTRING]" KeyPath="yes" />
					<RegistryValue Name="DBName" Type="string" Value="[DBNAME]" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
	</Fragment>
	
</Wix>

<!-- msiexec /i "MyBlogs-Installer-1.3.0.0-Release-x64.msi" /l* "Mylogfile.log"-->